* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #ffffff;
}
.navbar {
  width: 100%;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content:  space-between;
  border-bottom: 1px solid #eee;
  border: none;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-links li{
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}
.nav-button {
  text-decoration: none;
  background-color: #2e7d32;
  color: #fff;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  border: none;
}