* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #ffffff;
}
.navbar {
  width: 100%;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content:  space-between;
  border-bottom: 1px solid #eee;
  border: none;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-links li{
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}
.nav-button {
  text-decoration: none;
  background-color: #2e7d32;
  color: #fff;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  border: none;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 35px;
  flex-wrap: wrap;
}

.cta-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 22px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}
.primary-btn {
  background: #2e7d32;
  color: #fff;
}

.primary-btn:hover {
  background: #256428;
  transform: translateY(-2px);
}

/* Secondary */
.secondary-btn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  background: transparent;
}
.secondary-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Icons */
.arrow {
  font-size: 16px;
}

.play {
  font-size: 12px;
}
.hero {
  background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
  color: #fff;
  padding: 100px 20px;
  text-align: center;
  height: 1600px;
  height: 674px;
  background-size: cover;
}
.early-access {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: rgba(255, 255, 255, 0.15);
  color: #eafff3;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}

.early-access .dot {
  width: 8px;
  height: 8px;
  background: #4caf50;
  border-radius: 50%;
}

.hero h1 {
  font-size: 42px;
}

.hero span {
  color: #5dd39e;
}

.hero .hero-content p {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}
.features {
  padding: 80px 40px;
  text-align: center;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.feature-card {
  background: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
}

.feature-card img {
  width: 40px;
  margin-bottom: 15px;
  color: red;
  background-color: red;
  border: 0;
  border-radius: 50%;
}
.feature .feature-card .feature-logo{
  color: red;
}
